html {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
input {
  color: rgb(0, 191, 255);
  border: none;
  font-size: xx-large;
  font-weight: bold;
  border: 1px dashed rgb(0, 191, 255);
  text-align: center;
}
h1 {
  padding: 0;
  text-align: center;
  margin: 0;
  color: rgb(0, 191, 255);
}
hr {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#boards {
  display: flex;
  padding: 3rem;
  gap: 5rem;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: white;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  align-self: center;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgb(202, 202, 202);
}
.ready_btn {
  color: white;
  padding-block: 0.5rem;
  font-size: x-large;
  font-weight: bold;
  background: rgb(0, 191, 255);
  border-radius: 0.5rem;
  border: none;
}
.ready_btn:hover {
  background: rgb(1, 167, 223);
}
.blue_btn.clickable:hover {
  background: rgb(1, 167, 223);
}
.ship_options {
  overflow-y: scroll;
  max-height: 35rem;
}
.ship_container {
  z-index: 10;
  padding: 5px;
  display: flex;
}
.ship_container.rotate {
  gap: 1px;
}
.board .ship_container {
  padding: 0px;
}

.board .ship_container button {
  z-index: 1;
}

.rotate {
  flex-direction: column;
}
.ship_container button {
  z-index: -1;
  border: none;
  margin: 1px;
  height: 3rem;
  width: 3rem;
  min-height: 3rem;
  min-width: 3rem;
}

.ship {
  background: rgb(0, 163, 22);
}

.board {
  display: grid;
  grid-template-columns: repeat(11, auto);
}
.board p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board .blue_btn {
  white-space: nowrap;
  flex-wrap: nowrap;
  z-index: 0;
  padding: 0;
  flex-wrap: nowrap;
  color: red;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  border: none;
  margin: 1px;
  height: 3rem;
  width: 3rem;
  background: rgb(0, 191, 255);
}

.container {
  display: flex;
  justify-content: center;
}

.vertical_container {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
