html {
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
  padding: 0;
  margin: 0;
  color: rgb(0, 191, 255);
}
body{
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#boards {
  display: flex;
  padding: 3rem;
  gap: 5rem;
}
.board {
  display: grid;
  grid-template-columns: repeat(11, auto);
  text-align: center;
}
.board p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board button {
  border: none;
  margin: 1px;
  min-height: 3rem;
  min-width: 3rem;
  background: rgb(0, 191, 255);
}

button:hover {
  background: rgb(1, 167, 223);
}
.container {
  display: flex;
  justify-content: center;
}